*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
}
image{
    width: 300px;
    height: 400px;
}

header{
    background-color: orange;
}

h1{
    justify-content: center;
}

nav{
    background-color: black;
}

section{
    margin: 20px;
    display: flex;
    height: 300px;
    flex-direction: row;
    justify-content: center;
}

footer{
    background-color: black;
    color: white;
}

button{
    margin: 2em;
    background-color: black;
    border: transparent;
    color: white;
}